:root {
  --active-color: #545050;
  --screen-height: 1140px;
  --details-height: 399px;
  --gap-size: 30px;
  --border-style: 1px solid white;
  --border-transparent: 1px solid transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1140px;
  block-size: 100%;
  margin: auto;
  color: white;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex; 
  place-items: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: grid;
  grid-auto-flow: column;
  grid-template-areas: 'result content__details';
  grid-template-columns: calc(var(--screen-height) - var(--details-height) - var(--gap-size)) var(--details-height);
  align-items: end;
   column-gap: var(--gap-size);
  inline-size: var(--screen-height);
  margin-right: 0;
} 


.result {
  grid-area: result;
} 

.content__details {
  grid-area: content__details;
}

.result__video-container {
  /* Задайте размеры контейнеру .result__video-container и добавьте отступ снизу. */
  position: relative;
  inline-size: 711px;
  block-size: 386px;
  margin-block-end: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position:center;
}

.content__list-item:not(:last-of-type) {
  display: grid;
  margin-block-end: var(--gap-size);
  /* gap: 5px; */
}

.content__video-card {
  display: flex;

}

.content__video-card-description-container {
  /* Сделайте так, чтобы .content__video-card-description-container 
  занимал всё доступное пространство (не занятое картинкой). Вам поможет свойство flex-grow. */
  flex-grow: 1;
  max-width: 196px;
}

.content__video-card-description {
  /* Обратите внимание на значение line-height для .content__video-card-description в макете. 
  Здесь тоже нужно учесть возможность переполнения, для этого воспользуйтесь свойством line-clamp. */
  font-family: Fira Sans Condensed, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: 3%;
  -webkit-line-clamp: 4;
  padding-left: 3px;
  padding-top: 3px;
}

.content__video-card-thumbnail {
  /* Задайте размеры .content__video-card-thumbnail и расположите в них изображение так, 
  чтобы оно закрывало весь элемент и было выровнено по центру. Используйте object-fit и object-position. */
  width: 194px;
  flex-shrink: 0;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.content__list-container {
  position: relative;
  margin-top: 20px;
  height: 298px;
  overflow-y: auto;
}

.content__accent {
  color: var(--active-color);
  margin-top: 0;
  display: inline;
}

.content__card-link {
  display: block;
  color: inherit;
  text-decoration: none;
  border: none;
}

.content__card-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  border: var(--border-style);
}

.content__card-link:active {
  background-color: var(--active-color);
  text-decoration: underline;
}


.content__video-card-title {
  /* margin-block:6px ; */
  font-family: Oswald, sans-serif;
  font-size: 30px;
  line-height: 1;
  padding-top: 3px;
  padding-left: 3px;

  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  margin-block-end: 5px;
  font-weight: 400;
  font-size: 18px;
}

.search-form__checkbox-list {
  display: flex;
  gap:15px;
}
  

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  cursor: pointer;
} 

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  line-height: 0.94;
  text-transform: uppercase;
}

.visually-hidden {
  /* Добавьте в ваш код класс .visually-hidden. В HTML он уже добавлен необходимым элементам. 
  Остались стили. Вот они: */
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.search-form__textfield {
  min-inline-size: 225px;
  min-block-size: 27px;
  border: none;
  border-top: var(--border-style);
  border-bottom: var(--border-style);
  border-left: var(--border-transparent);
  border-right: var(--border-transparent);
  color: white;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  appearance: none;
  padding: 3px;
}

.search-form__textfield:focus {
  outline: var(--border-style);
}

.search-form__textfield:active {
  outline: none;
  border-left: var(--border-style);
  border-right: var(--border-style);;
}

.search-form__textfield:focus-visible {
  outline: var(--border-style)
}

.search-form__textfield:hover {
  cursor: text;
}

.search-form__label:has(:focus-visible) {
  outline: var(--border-style);
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 19px;
  block-size: 19px;
  border: var(--border-style);
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  min-inline-size: 15px;
  min-block-size: 15px;
  background-color: white;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.button {
  border: var(--border-style);
  color: white;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
  outline: none;
}

.button:active {
  background-color: var(--active-color);;
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline:  var(--border-style);;
}

.more-button {
  margin-top: var(--gap-size);
  inline-size: 99%;
  min-block-size: 34px;
}

.search-form__submit-button {
  align-self: flex-end;
  min-inline-size: 194px;
  min-block-size: 34px;
}

.search-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  justify-content: space-between;
  gap:40px;
  align-items: flex-start;
}

.content__card-link_current {
  background-color: var(--active-color);
} 

.content_details{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 26px;
  inline-size: 100%;
  block-size: 100%;
  padding-right: 5px;
}

